<h2>All users</h2>
<br>
<ul class="users">
<% for user in @users %>
  <li>
  <%= gravatar_for user %>
  User <%= user.id %>: <%= link_to user.username, user %> (<%= user.email %>) <br>
  Created at: <%= user.created_at %>, last signed in <%= user.last_sign_in_at %> <br>
  </li>
<% end %>
</ul>
