<% @title = @user.username %>
<br>
<div class="user_name_and_avatar">
  <%= gravatar_for @user %><span class="username"><%= @user.username %></span>
  <% if user_signed_in? && @user == current_user %>
    <br>
    <span class="avatar_explanation">
      Change your image at <%= link_to "Gravatar", "https://en.gravatar.com/site/login" %> using your email address, <%= @user.email %>.
    </span>
  <% end %>
</div>

<br><br>
<p>
This user has posted <%= pluralize @user.locations.count, 'location' %>
and <%= pluralize @user.tips.count, 'tip' %>.
</p>

<% if user_signed_in? && @user == current_user %>
  <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => 'btn btn-warning logout_button' %>
<% end %>
