<div class="row-fluid">
  <div class="offset3 span6">
    <%= image_tag 'yumster_brand_tagline.png', :class => 'brand_tagline' %>
  </div>
</div>
<br>
<div class="row-fluid">
  <div class="offset1 span5 hover_container main_activity" onclick="window.location.href = '<%= url_for near_locations_path %>'">
    <h3><%= link_to "Find food nearby ...", near_locations_path %></h3>
    <%= image_tag 'illo_dumpster.jpg', :class => 'illustration' %>
    <p>
    Find food nearby by determining your position and looking it up in our database.
    </p>
  </div>
  <div class="span5 hover_container main_activity" onclick="window.location.href = '<%= url_for new_location_path %>'">
    <h3><%= link_to "Add a new location ...", new_location_path %></h3>
    <%= image_tag 'illo_tree.jpg', :class => 'illustration' %>
    <p>
    Fruit and veggies, dumpsters, and charitable organizations are all fair game!
    </p>
  </div>
</div>
