<div class="row-fluid">
  <div class="offset3 span6">
    <%= image_tag 'yumster_brand_tagline.png', :class => 'brand_tagline', :alt => '[logo]' %>
  </div>
</div>
<br>
<div class="row-fluid">
  <div class="span4 hover_container main_activity" onclick="window.location.href = '<%= url_for near_locations_path %>'">
    <h3><%= link_to "Find food nearby", near_locations_path %></h3>
    <%= image_tag 'illo_dumpster.jpg', :class => 'illustration', :alt => "" %>
    <p>
    Find food nearby by determining your position and looking it up in our database.
    </p>
  </div>
  <div class="span4 hover_container main_activity" onclick="window.location.href = '<%= url_for new_location_path %>'">
    <h3><%= link_to "Add a new location", new_location_path %></h3>
    <%= image_tag 'illo_tree.jpg', :class => 'illustration', :alt => "" %>
    <p>
    Fruit and veggies, dumpsters, and charitable organizations are all fair game.
    </p>
  </div>
  <div class="span4 hover_container main_activity" onclick="window.location.href = '<%= url_for forem.root_path %>'">
    <h3><%= link_to "Join the discussion", forem.root_path %></h3>
    <%= image_tag 'illo_forum.jpg', :class => 'illustration', :alt => "" %>
    <p>
    Share foraging and dumpstering insights with like-minded people.
    </p>
  </div>
</div>

