<h2>Add a location<br><small>Move the map to position the pushpin at the correct location</small></h2>
<% if @location.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= gmaps(@g4r_options) %>
<div style="display: none;">
  <%= image_tag 'red-pushpin.png', :id => 'pushpin_img' %>
</div>

<br>
<%= form_for(@location) do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div class="row-fluid">
    <div class="span4">
      <%= f.label :category %>
      <%= f.select(:category, Location::CATEGORIES, {:include_blank => 'Select type of location'}) %>
    </div>
    <div class="span4">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  </div>
  <br />
  <%= f.submit "Create location", class: "btn btn-large", id: "location_submit", disabled: true %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">

var add_position_indicator = function() {
  GeoMarker = new GeolocationMarker()
  GeoMarker.setCircleOptions({fillColor: '#808080'})
  GeoMarker.setMap(Gmaps.map.map)
}

var center_changed = function() {
  lctn = Gmaps.map.map.getCenter()
  window.Yumster.Locations.New.current_location(lctn.lat(), lctn.lng())
}

Gmaps.map.callback = function() {
  var control = document.createElement('div')
  $(control).append($('#pushpin_img'))
  Gmaps.map.map.controls[google.maps.ControlPosition.TOP_CENTER].push(control)
  google.maps.event.addListener(Gmaps.map.map, 'center_changed', center_changed)
  add_position_indicator()
}

  </script>
<% end %>
