<h2>Add a location</h2>
<% if @location.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div style="display: none;">
  <%= image_tag 'red-pushpin.png', :id => 'pushpin_img' %>
</div>

<br>
<%= form_for(@location) do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="row-fluid">
    <div class="span8 form-section-description">
      <%= f.label :category, class: "form-label" do %>
      1 <em>What</em> kind of resource are you adding?
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span3">
      <%= f.label :category_plant do %>
        <%= f.radio_button :category, 'Plant'%>
        Fruit, herbs, or vegetables that can be reached from a public sidewalk.
      <% end %>
    </div>
    <div class="span3">
      <%= f.label :category_dumpster do %>
        <%= f.radio_button :category, 'Dumpster'%>
        A dumpster or other site where good food is regularly left out.
      <% end %>
    </div>
    <div class="span3">
      <%= f.label :category_organization do %>
        <%= f.radio_button :category, 'Organization'%>
        A food pantry, church, or other organization that provides free provisions.
      <% end %>
    </div>
  </div>

  <br>
  <div class="row-fluid">
    <div class="span8 form-section-description">
      <%= f.label :category, class: "form-label" do %>
      2 <em>Where</em> is the resource located? Move the map to position the
      pushpin's point over it.
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span9">
      <%= gmaps(@g4r_options) %>
    </div>
  </div>

  <br>
  <div class="row-fluid">
    <div class="span8 form-section-description">
      <%= f.label :description do %>
      3 <em>How</em> would you describe the resource? For example, "Rosemary
      bush near the mailbox" or "The dumpster behind the juice factory".
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span5">
      <%= f.text_field :description %>
    </div>
  </div>

  <br>
  <div class="row-fluid">
    <div class="span8 form-section-description">
      4 <em>That's it!</em> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span5">
      <%= f.submit "Create location", class: "btn btn-large", id: "location_submit" %>
    </div>
  </div>

<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">

var add_position_indicator = function() {
  GeoMarker = new GeolocationMarker()
  GeoMarker.setCircleOptions({fillColor: '#808080'})
  GeoMarker.setMap(Gmaps.map.map)
}

var center_changed = function() {
  lctn = Gmaps.map.map.getCenter()
  window.Yumster.Locations.New.current_location(lctn.lat(), lctn.lng())
}

Gmaps.map.callback = function() {
  var control = document.createElement('div')
  $(control).append($('#pushpin_img'))
  Gmaps.map.map.controls[google.maps.ControlPosition.TOP_CENTER].push(control)
  google.maps.event.addListener(Gmaps.map.map, 'center_changed', center_changed)
  add_position_indicator()
}

  </script>
<% end %>
