<div class="row">
  <div class="span6 offset2">
    <h1>Add a location</h1>

    <% if @location.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <%= gmaps(@g4r_options) %>

    <%= form_for(@location) do |f| %>
      <%= f.label :latitude %>
      <%= f.text_field :latitude %>
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <br />
      <%= f.submit "Create location", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">

Gmaps.map.callback = function() {
  var pushpin = new google.maps.MarkerImage(
    "<%= asset_path 'red-pushpin.png' %>",
    null,
    null,
    new google.maps.Point(10, 31),
    new google.maps.Size(32, 32)
  )
  var marker = new google.maps.Marker({
    map: Gmaps.map.map,
    icon: pushpin
  })
  google.maps.event.addListener(Gmaps.map.map, 'center_changed', function() {
    lctn = Gmaps.map.map.getCenter()
    marker.setPosition(lctn)
    window.Yumster.Locations.current_location(lctn.lat(), lctn.lng())
  })
}

  </script>
<% end %>

