<h2>Add a location</h2>

<div id="error_explanation">
  <% if @location.errors.any? %>
  <div class="alert alert-error">
    <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<br>
<%= form_for(@location) do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="row-fluid">
    <div class="span8 form-section-description">
      <%= f.label :category, class: "form-label" do %>
        <span class="form-section-index">1</span> <em>What</em> kind of resource are you adding?
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span3">
      <%= f.label :category_plant do %>
        <%= f.radio_button :category, 'Plant'%>
        Fruit, herbs, or vegetables that can be reached from a public sidewalk.
      <% end %>
    </div>
    <div class="span3">
      <%= f.label :category_dumpster do %>
        <%= f.radio_button :category, 'Dumpster'%>
        A dumpster or other site where good food is regularly left out.
      <% end %>
    </div>
    <div class="span3">
      <%= f.label :category_organization do %>
        <%= f.radio_button :category, 'Organization'%>
        A food pantry, church, or other organization that provides free provisions.
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <div class="row-fluid">
    <div class="span8 form-section-description">
      <%= f.label :category, class: "form-label" do %>
      <span class="form-section-index">2</span> <em>Where</em> is the resource located? Move the map to position the
      pushpin's point over it.
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span10">
      <div class="map_container">
        <div id="map_canvas"></div>
      </div>
      <div class="input-append map_address_search_bottom">
        <input id="map_address_input" type="text" placeholder="Move to an address">
        <button id="map_address_button" class="btn" type="button">Go</button>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="row-fluid">
    <div class="span8 form-section-description">
      <%= f.label :description do %>
        <span class="form-section-index">3</span> <em>How</em> would you describe the resource? For example, "Rosemary
      bush near the mailbox" or "The dumpster behind the juice factory".
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span5">
      <%= f.text_field :description %><span id="character_count"><span id="character_count_current">0</span> / 45</span>
    </div>
  </div>

  <br>
  <br>
  <div class="row-fluid">
    <div class="span8 form-section-description">
      <span class="form-section-index">4</span> <em>That's it!</em> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="offset1 span5">
      <%= f.submit "Create location", class: "btn btn-large", id: "location_submit" %>
    </div>
  </div>

<% end %>

<div style="display: none">
  <div id="map_recenter"><%= image_tag "recenter.png" %></div>
  <%= image_tag 'red-pushpin.png', :id => 'pushpin_img' %>
</div>


<% content_for :scripts do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag 'geolocationmarker.js' %>
  <script type="text/javascript" charset="utf-8">

var geoMarker
var addPositionIndicator = function(map) {
  if(!geoMarker) {
    geoMarker = new GeolocationMarker()
    geoMarker.setCircleOptions({fillColor: '#808080'})
    geoMarker.setMap(map)
  }
  google.maps.event.addListenerOnce(geoMarker, 'position_changed', function() {
    pos = geoMarker.getPosition()
    window.Yumster.Locations.New.geolocationCallback(pos.lat(), pos.lng())
  })
}

var center_changed = function() {
  lctn = window.Yumster.Locations.Map.map.getCenter()
  window.Yumster.Locations.New.current_location(lctn.lat(), lctn.lng())
}

var init = function() {
  var map = new google.maps.Map(document.getElementById('map_canvas'), {
    zoom: 18,
    mapTypeId: google.maps.MapTypeId.HYBRID,
    center: new google.maps.LatLng(0, 0),
    streetViewControl: false,
    mapTypeControl: false,
    tilt: 0 // turn of 45-degree imagery
  })
  window.Yumster.Locations.Map.map = map

  // add position indicator
  addPositionIndicator(map)

  // put recenter widget on map
  window.Yumster.Locations.Map.recenterWithGeoMarker(document.getElementById("map_recenter"), geoMarker)

  var control = document.createElement('div')
  $(control).append($('#pushpin_img'))
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(control)
  google.maps.event.addListener(map, 'center_changed', center_changed)
}
google.maps.event.addDomListener(window, 'load', init)

// Bind address search function to button
$(function() {
  window.Yumster.Locations.initializeAddressSearch(
    '#map_address_input',
    '#map_address_button',
    window.Yumster.Locations.New.geolocationCallback)
})

  </script>
<% end %>
