<h2><%= @location.description %></h2>
<br>
<% unless @location.approved %>
  <p class="alert alert-info">
    <small>
      <strong>Note:</strong>
      This location was submitted anonymously.
      It will not show up in searches until approved by a moderator.
    </small>
  </p>
<% end %>
<div class="row-fluid">
  <div class="span6 pull-right">
    <div class="map_container">
      <div id="map_canvas"></div>
    </div>
  </div>
  <div class="span6 pull-left no-left-margin">
    <p>
    This location is a <%= @location.category %>.
    </p>
    <p>
    <% if @location.address %>
    It is located near <%= @location.address %>.
    <% end %>
    </p>

    <%# show the tips form if necessary %>
    <% if user_signed_in? and current_user.tips.where(:location_id => @location.id).count < 1 %>
      <%= form_for(Tip.new) do |f| %>
        <%= f.hidden_field :location_id, :value => "#{@location.id}" %>
        <%= f.label :text do %><p>Leave a tip here:</p><% end %>
        <%= f.text_area :text, :maxlength => 200 %>
        <br>
        <%= f.submit "Done", class: "btn" %>
      <% end %>
    <% end %>

    <%# show the list of tips %>
    <% if @tips.count > 0 %>
      <p>
      <%= pluralize(@tips.count, 'tip') %>:
      </p>
      <ul class="tip_list">
      <%= render @tips %>
      </ul>
    <% end %>
  </div>
</div>

<br><br>

<% content_for :scripts do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag 'elastictxt.js' %>
  <script type="text/javascript" charset="utf-8">

// Add elastic text for tip box
if ($('#tip_text').length) {
  new ElasticText({node: document.getElementById('tip_text')});
}

// Put marker for location on map
var position = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>)
var init = function() {
  map = new google.maps.Map(document.getElementById('map_canvas'), {
    zoom: 18,
    mapTypeId: google.maps.MapTypeId.HYBRID,
    tilt: 0, // turn of 45-degree imagery
    streetViewControl: false,
    mapTypeControl: false,
    center: position
  })
  marker = new google.maps.Marker({
    position: position,
    icon: window.Yumster.MarkerSprite.makeMarkerIcon(window.Yumster._MarkerSprite.MARKER_PLAIN),
    map: map
  })
}
google.maps.event.addDomListener(window, 'load', init)

  </script>
<% end %>
