<h2><%= @location.description %></h2>
<br>
<div class="row-fluid">
  <div class="span8 pull-right">
    <%= gmaps(@g4r_options) %>
  </div>
  <div class="span4 pull-left no-left-margin">
    category: <%= @location.category %><br>
    lat/long: <%= @location.latitude %>, <%= @location.longitude %>
  </div>
</div>

<br><br>
