<!DOCTYPE html>
<html>
<head>
  <% if(@title) %>
    <title>Yumster | <%= @title %></title>
  <% else %>
    <title>Yumster, Your Urban Foraging Resource</title>
  <% end %>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= favicon_link_tag 'icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'icon.png' %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="container">
    <header class="brand_header">
      <% if not on_front_page? %>
        <a class="brand" href="/"><%= image_tag 'yumster_brand.png', :class => 'brand_image' %></a>
      <div class="brand_inner">
      <% else %>
      <div class="brand_inner_fp">
      <% end %>
        <ul class="brand_nav">
          <li><%= link_to 'About', pages_about_path %></li>
          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <li><%= link_to user_path(current_user.username) do %><i class="icon-user icon-large"></i><% end %></li>
          <% else %>
            <li><%= link_to('Sign In', new_user_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <% unless notice.blank? %><p class="alert alert-info"><%= notice %></p><br><% end %>
    <% unless alert.blank? %><p class="alert alert-error"><%= alert %></p><br><% end %>
    <%= yield %>
    <br><br>
  </div>
  <%= yield :scripts %>
</body>
</html>
