<!DOCTYPE html>
<html>
<head>
  <title>Yumster</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= favicon_link_tag 'icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'icon.png' %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="container">
    <header class="brand_header">
      <% if not on_front_page? %>
        <a class="brand" href="/"><%= image_tag 'yumster_brand.png', :class => 'brand_image' %></a>
      <div class="brand_inner">
      <% else %>
      <div class="brand_inner_fp">
      <% end %>
        <ul class="brand_nav">
          <% if user_signed_in? %>
            <li> <%= link_to user_path(current_user.username) do %> <i class="icon-user"></i> <%= current_user.username %> <% end %></li>
          <% else %>
            <li><%= link_to('Sign in', new_user_session_path)  %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
    <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
    <%= yield %>
  </div>
  <br><br>
  <%= yield :scripts %>
</body>
</html>
